/* # Reset & Basics
================================================== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font: normal 16px/1.5 Helvetica, "Microsoft Yahei", Arial, sans-serif;
    color: #444;
    background: #87CEFA;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
}

table {
    border-spacing: 0;
}

a, a:visited {
    color: #333;
    text-decoration: none;
    outline: 0;
}
a:hover,
a:focus {
    color: #000;
}

/* # Cloud Background
================================================== */
#clouds {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[class^="cloud-"] {
    position: absolute;
    right: 120%;
    width: 200px;
    height: 60px;
    background: white;
    border-radius: 200px;
}
[class^="cloud-"]::before,
[class^="cloud-"]::after {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 100px;
}
[class^="cloud-"]::before {
    top: -15px;
    left: 10px;
    width: 100px;
    height: 80px;
    transform: rotate(30deg);
}
[class^="cloud-"]::after {
    top: -55px;
    right: 15px;
    width: 120px;
    height: 120px;
}

.cloud-1 {
    top: 50px;
    animation: moveclouds 30s linear infinite;
}
.cloud-2 {
    top: 100px;
    opacity: 0.8;
    transform: scale(0.8);
    animation: moveclouds 45s linear infinite 5s;
}
.cloud-3 {
    top: 150px;
    opacity: 0.6;
    transform: scale(0.6);
    animation: moveclouds 40s linear infinite;
}
.cloud-4 {
    top: 200px;
    opacity: 0.75;
    transform: scale(0.75);
    animation: moveclouds 26s linear infinite 8s;
}

@-webkit-keyframes moveclouds {
    0% { right: -20%; }
    100% { right: 120%; }
}
@-moz-keyframes moveclouds {
    0% { right: -20%; }
    100% { right: 120%; }
}
@-o-keyframes moveclouds {
    0% { right: -20%; }
    100% { right: 120%; }
}

/* # Layout
================================================== */
#content {
    width: 100%;
}
.container {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

#login,
#register {
    width: 400px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    background: #F8F8F8;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
#register {
    left: 120%;
}

#login_header,
#register_header {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    color: #77CA60;
    background: #FFF;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.icon-home {
    font-size: 30px;
    position: relative;
    top: 3px;
}

/* # Form Fields
================================================== */
#login_content,
#register_content {
    height: 200px;
    padding: 30px 20px;
}

input {
    width: 300px;
    padding: 14px 15px;
    background: #F0F0F0;
    font: normal 16px/1.5 Helvetica, "Microsoft Yahei", Arial, sans-serif;
    color: #444;
    border: none;
    outline: none;
    border-radius: 3px;
}

span {
    position: relative;
    display: inline-block;
    height: 50px;
    margin-bottom: 30px;
}

.tip {
    text-indent: 80px;
    transition: all 0.3s ease-in-out;
}
.tip:focus,
.tip:active {
    text-indent: 0;
}

.tip + label {
    position: absolute;
    top: 16px;
    left: 15px;
    transition: all 0.3s ease-in-out;
}
.tip:focus + label,
.tip:active + label {
    transform: translateY(-40px);
}

.icon-user,
.icon-lock {
    position: absolute;
    top: 16px;
    right: 14px;
    color: #999;
}

/* # Tooltip
================================================== */
.tooltip {
    width: 200px;
    padding: 14px;
    position: absolute;
    left: 20%;
    top: 0;
    right: 0;
    color: #999;
    background: white;
    text-align: left;
    z-index: -1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.tooltip::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 18px;
    border: 8px solid;
    border-right-color: white;
    color: #87CEFA;
}

/* # Buttons
================================================== */
#login_btn,
#register_btn {
    width: 100%;
    height: 60px;
    line-height: 60px;
    outline: 0;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background: #77CA60;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.ing {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 60px;
}

/* # Links
================================================== */
#register_link,
#login_link {
    width: 80px;
    display: block;
    margin: 20px auto;
    color: white;
    border-bottom: 1px dashed;
}